_site
*.lock
node_modules
bower_components
.tmp
.sass-cache
/git
/tweepy
/_backup
/_update
/FFMPEG
*.bat
*.ini
*.pyc
ffmpeg.exe
*.dll
users/
__pycache__/
is_busy.txt
last_crash_file.txt
*.py
.idea/
ignore_lists/
lists/
images/
count.ini
palette.png
sankakucomplex.txtnotes
blocked_waifus.txt
blocked_users.txt
*todo
*-*.txt
Configs/
Images/
Scripts/
tools/
*.py