<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="site-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="site-header mdl-layout__header mdl-color-text--white-600">
        <!--{% if page.tall_header == true %}mode="waterfall-tall"{% else %}mode="waterfall"{% endif %}-->
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{ page.title }}</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>

      <div class="site-drawer mdl-layout__drawer mdl-color-text--white-500">
        <header class="mdl-layout-title site-drawer-header">
          <span>AcePictureBot</span>
        </header>
        <nav class="site-navigation mdl-navigation mdl-color--white">
          {% for category in site.navigation %}
            {% if category.title %}
              <div class="site-drawer-subheader">{{ category.title }}</div>
            {% endif %}
            {% for page_entry in category.pages %}
              {% if page_entry.url %}
                <a href="{{ page_entry.url }}">
                <button class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">{{ page_entry.icon }}</i>
                  <span>{{ page_entry.title }}</span>
                </button>
                </a>
              {% else %}
                {% for page_item in site.pages %}
                  {% if page_item.path == page_entry.path %}
                    {% assign nav_page = page_item %}
                    <a href="{{ nav_page.url | prepend: site.baseurl }}">
                    <button class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect {% if nav_page.url == page.url %}selected{% endif %}">
                      <i class="material-icons {% if nav_page.url == page.url %}selected{% endif %}">{{ nav_page.icon }}</i>
                      <span>{% if page_entry.title %}{{ page_entry.title }}{% else %}{{ nav_page.title }}{% endif %}</span>
                    </button>
                    </a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
      <main class="mdl-layout__content" style="margin-left:0px;">
          {% include page-header.html %}

          <div class="page-content wrapper">
            {{ content }}
          </div>

          {% include page-footer.html %}
      </main>
    </div>
  </body>
</html>
